#divgrid{
	-fx-background-color:white;
}
#options{
	-fx-background-color:	#ecf0f1;
	-fx-pref-width:150;
}
#options .button{
	-fx-background-color:transparent;
	-fx-pref-width:150;
	-fx-pref-height:50;
    -fx-border-width: 0;
    -fx-border-style: none; 
	-fx-border-color: transparent; 
	-fx-background-radius: 0;
	-fx-font-family: "Segoe UI light";
	-fx-text-fill:grey;
	-fx-font-size:18px;
}
#options .button:focused{
    -fx-background-color:#bdc3c7;
	-fx-border-color:white;
	
}
#options .button:selected{
    -fx-background-color:#bdc3c7;
	-fx-border-color:white;
	
}
#options .button:hover{
    -fx-background-color: #bdc3c7;
}
#tlist{
	-fx-background-color:	#ecf0f1;
	-fx-pref-width:200;
}
#tlist .label{
	-fx-pref-width:100;
	-fx-pref-height:50;
	-fx-background-color:	#3498db;
	-fx-alignment:CENTER;
	-fx-font-size: 18px;
	-fx-text-fill: #ecf0f1;
}
#bottompane{
	-fx-padding:20;
}
#bottompane .button{
    -fx-padding: 5 22 5 22;   
    -fx-border-style: none; 
    -fx-background-radius: 0;
    -fx-border-color : #3498db;
    -fx-border-width:2;
    -fx-background-color:transparent;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-font-family: "Segoe UI Bold";
    -fx-font-size: 18px;
    -fx-text-fill: grey;
}
#bottompane .button:hover{
    -fx-background-color: #3498db;
	-fx-text-fill: white;
}
#period{
}
#period .label{
	-fx-pref-width:180;
	-fx-pref-height:100;
	-fx-background-color:	#3498db;
	-fx-alignment:CENTER;
	-fx-font-family: "Segoe UI Bold";
	-fx-font-size: 28px;
	-fx-text-fill: #ecf0f1;
}
#divlabel{
	-fx-pref-width:30;
	-fx-pref-height:20;
	-fx-alignment:center;
	-fx-font-size: 18px;
	-fx-background-color: transparent;
}