.btn {
  -fx-graphic: url('/img/arrowLeftBlack.png');
}

.root{
    -fx-background-color: #333333;
}
 
.header{
    -fx-font-size: 42pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: black;
}
 
.item-title{
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: black;
    -fx-opacity: 0.6;
      
}
 
/*******************************************************************************
 *                                                                             *
 * Push Button                                                                 *
 *                                                                             *
 ******************************************************************************/
 
.button {
    -fx-padding: 5 22 5 22;   
    -fx-border-style: null; 
    -fx-background-radius: 0;
    -fx-width:20px;
 
    -fx-background-color: #cccccc;
   
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: black;
}
 
.button:hover{
    -fx-background-color: #d8d8d8;
}
 
.button:pressed, .button:default:hover:pressed
{
  -fx-background-color: black;
  -fx-text-fill: white;
}
 
.button:focused
{
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-border-style: segments(1, 1);
    -fx-background-insets: 0 0 0 0, 0, 1, 2;   
}
 
.button:disabled, .button:default:disabled
{
    -fx-opacity: 0.4;
    -fx-background-color: #cccccc;
    -fx-text-fill: #212121;
}
 
.button:default
{
    -fx-background-color: #008287;
    -fx-text-fill: #ffffff;
}
 
.button:default:hover{
    -fx-background-color: #219297;
}
#close-button{
    -fx-padding: 0 0 0 0;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}
 
/********************************************************************************
 *                                                                             *
 * Rinoy                                                                       *
 *                                                                             *
 ******************************************************************************/

#detailb{
	 -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-border-width: 2;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-border-style: none; 
     -fx-font-family: "Segoe UI Light ";
    -fx-font-size: 10pt;
    -fx-text-fill: white;
    -fx-background-color: #00aba9;
    -fx-border-color:#333333;
    
     -fx-background-size: 35, 50;
    -fx-background-repeat: no-repeat;
     -fx-background-position:center;
}

#entryb{
	 -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-border-width: 2;
    -fx-border-style: none; 
    -fx-background-insets: 0;
    -fx-border-insets: 0;
     -fx-font-family: "Segoe UI Light ";
    -fx-font-size: 10pt;
    -fx-text-fill: white;
    -fx-background-color: #8c0095;
    -fx-border-color:#333333;
    
     -fx-background-size: 60, 60;
    -fx-background-repeat: no-repeat;
     -fx-background-position:center;
}
#detailb:hover
{
    -fx-border-color:#00aba9;
}
#entryb:hover
{
    -fx-border-color:#8c0095;
}

#labelts{
	-fx-background-color: transparent;
	 -fx-font-family: "Segoe UI Light ";
    -fx-font-size: 20pt;
    -fx-text-fill: white;
}
#optiongrid{
	-fx-background-color: #2c589b;
}

#labelbutton{
	-fx-padding:0 0 0 0;
	-fx-background-color: transparent;
	 -fx-border-color:#2c589b;
	 -fx-background-repeat: no-repeat;
     -fx-background-position:center;
	
	
}

#Weekview,#Monthview,#YearView,#IndividualView{
	-fx-background-color: transparent;
	 -fx-font-family: "Segoe UI Light ";
    -fx-font-size: 10pt;
    -fx-text-fill: white;
    -fx-border-color:#2c589b;
}

#Weekview:hover,#Monthview:hover,#YearView:hover,#IndividualView:hover{
	-fx-background-color: #416cb0;
	-fx-border-color:#2c589b;
}














 
#animated{
    -fx-text-fill: white;
    -fx-font-size: 38pt;
    -fx-padding: 30 0 0 53;
}
#name-label{
    -fx-text-fill: white;
    -fx-font-size: 15pt;
    -fx-padding: 0 0 0 300;
}
#img-label{
	
    -fx-padding: 50 0 0 130;
}
#right-label{
	-fx-text-fill	:	white;
    -fx-font-size	:	12pt;
    -fx-padding		: 	0 0 10 10;
}
#user-name{
	-fx-background-radius: 0, 0;
    -fx-background-color: #bababa, white;
    -fx-prompt-text-fill: #9f9f9f;
    -fx-highlight-fill: #008287; /* TODO: this probably is the "active" color" */
    -fx-highlight-text-fill: white;
}

#user-name:hover{
	-fx-background-color: #8f8f8f, white;
}

#user-name:focused{
    -fx-background-color: #5c5c5c, white;

    -fx-text-fill: black;
}

#user-name-label{
	-fx-text-fill	:white;
	-fx-font-size: 15pt;
}
#login-label{
	-fx-text-fill: white;
    -fx-font-size: 19pt;
    -fx-padding: -10 0 0 110;
}
#login-details{
    -fx-padding		: 	0 0 0 150;
}
#loginbox{
    -fx-padding		: 	2 0 0 100;
}
#wrong-label{
	-fx-text-fill: #ff0000;
    -fx-font-size: 12pt;
}


